#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-box {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 1em 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.name-container,
.address-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.name-container legend,
.address-container legend {
  padding: 0 10px;
  font-weight: bold;
}

.name-container input,
.address-container input {
  margin: 5px;
}

.copy-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-copy-box {
  width: 150px;
  height: 100px;
  margin: 1em;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
